/*
body, div, h1, h2, h3, p, ul, ol, li, img, header, section, aside, footer, button, nav, main, article, input
{	
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.vertical-middle::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.none-select {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;          
}
*/

body {
	font-family: "Microsoft JhengHei";	
	padding-top: 70px;
}

.label-as-badge {
    border-radius: 1em;
}

.optModal {
	.checkbox {
		margin: 0;		
	}
}
.footer {
	padding: 20px;
	margin-top: 50px;
	background: #f7f7f7;
	color: #686868;
}
.navbar {
    line-height: 35px;
}
.btn-wrap {
	white-space: normal;
}
.menu {
	.list-group-item {
		border: none;			
	}
	.list-group-item-heading {
		text-align: left;
		border-bottom: 1px solid #eee;
		&:hover {
			color: #eea236;
			border-bottom: 1px solid #eea236;	
		}
	}
}
@media (max-width: 768px) {
    .menu-item-content {
        display:none;
    }
}

.pre {
	white-space: pre;
}
.remark {
	margin-left: 20px;
}