/*
body, div, h1, h2, h3, p, ul, ol, li, img, header, section, aside, footer, button, nav, main, article, input
{	
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.vertical-middle::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.none-select {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;          
}
*/
body {
  font-family: "Microsoft JhengHei";
  padding-top: 70px; }

.label-as-badge {
  border-radius: 1em; }

.optModal .checkbox {
  margin: 0; }

.footer {
  padding: 20px;
  margin-top: 50px;
  background: #f7f7f7;
  color: #686868; }

.navbar .dropdown-toggle {
  margin-top: 5px;
  color: #777; }

.btn-wrap {
  white-space: normal; }

.menu .list-group-item {
  border: none; }
.menu .list-group-item-heading {
  text-align: left;
  border-bottom: 1px solid #eee; }
  .menu .list-group-item-heading:hover {
    color: #eea236;
    border-bottom: 1px solid #eea236; }

@media (max-width: 768px) {
  .menu-item-content {
    display: none; } }
.pre {
  white-space: pre; }

.nowrap {
  white-space: nowrap; }

.remark {
  margin-left: 20px; }

.vertical-middle::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.center-cropped {
  width: 190px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 200px auto; }

.serial-dropdown {
  overflow-y: auto;
  overflow-x: hidden; }

@media (max-height: 700px) {
  .serial-dropdown {
    max-height: 500px; } }
@media (max-height: 550px) {
  .serial-dropdown {
    max-height: 300px; } }
@media (max-height: 350px) {
  .serial-dropdown {
    max-height: 200px; } }
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear; }

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg); }

  to {
    transform: scale(1) rotate(360deg); } }
